/* style.css */
#container {
	z-index:0;
}

#container #control-panel {
	position: absolute;
	cursor: pointer;
	z-index:1001;
	top:60px;
	left: 230px;
	background-color:rgba(0,0,0,0.4);
}

.country:hover{
  stroke: #fff;
  stroke-width: 1.5px;
}
.text{
  font-size:10px;
  text-transform:capitalize;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

/* tell the SVG path to be a thin yellow line without any area fill */
.flow {
        stroke: #FFCC00;
        fill: none;
        stroke-opacity: .25;
}
