/* style.css */
::-ms-tooltip {
    display: none;
}

#container {
	z-index:0;
}

#container #title {
	position:absolute;
	left:35%;
	top:-10px; 
	z-index:10000
}

#container #control-panel .btn {
	width: 70px;
}

#container #control-panel {
	z-index:10001;
	position: absolute;
	top:60px;
	left: 230px;
	width: 250px;
	background-color:rgba(255,255,255,0.3);
}

#container #control-panel:hover {
	background-color:rgba(255,255,255,1);
}

#story-image {
  width:auto;
  max-width:100%;
  height:auto;
  border: 1px solid #333;
}

#container #data-panel {
  z-index:10002;
  position: absolute;
  cursor: pointer;
  z-index:100;
  top:60px;
  right: 20px;
  width: 250px;
  background-color:rgba(255,255,255,0.5);
  height: 220px;
  overflow:hidden;
}

#container #data-panel:hover {
	background-color:rgba(255,255,255,1);
}

.data-panel-table{
  height: 190px;
  overflow:scroll;
}

.dataPanelRow:hover {
  background-color: rgb(60, 141, 188) ;
}

#indicator-key {
  background-image: linear-gradient(to right, rgb(111,175,194), rgb(51,51,51));
  height: 25px;
  width: 217px;
}

#total-asylum-title {
  position: absolute;
  z-index:10002;
  bottom:70px;
  right:20px;
}

#total-asylum-title h1 {
  text-align:right;
  font-size:60px;
  color:#FFB524;
}

#total-asylum-title h3 {
      text-shadow: 0 0 100px #EEE,
                                 0 0 100px #EEE,
                                 0 0 100px #EEE,
                                 0 0 100px #EEE,
                                 0 0 100px #EEE,
                                 0 0 50px #FFF,
                                 0 0 50px #FFF,
                                 0 0 50px #FFF,
                                 0 0 50px #FFF,
                                 0 0 50px #FFF;

}

.country:hover{
  cursor: pointer;
  stroke: #000;		
  stroke-width: 1.5px;
}

.country {
  fill: #333;
  stroke:#333;
}

.text{
  font-size:10px;
  text-transform:capitalize;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

/* tell the SVG path to be a thin yellow line without any area fill */
.flow {
        fill: none;
        stroke-opacity: .20;
        stroke: #FFB524;
}
.flow-hightlight {
        fill: none;
        stroke-opacity: .95;
        stroke: #FFB524;
}
#selectors {
	border: 1px solid red; 
	float: top; 
	height: 15%;
}

#map_and_indicators {
	height: 65%;
	float: top;
}

#map_and_indicators #container {
	height: 100%; 
	width: 79%; 
	float:left; 
	border: 1px solid red;
        background: #FFF;
  	overflow:hidden;
}

#map_and_indicators #story_board {
	height: 100%; 
	width: 20%; 
	float:right; 
	border: 1px solid red;
}

#graph {
	height: 20%; 
	border: 1px solid red
}

.modal {
    z-index:100000;
}


#viz_dialog {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: -225px;
    margin-left: -200px;
    padding: 20px;
}
.progress-bar.animate {
   width: 100%;

.select2 > .select2-choice.ui-select-match {
	/* Because of the inclusion of Bootstrap */
	height: 29px;
}

.selectize-control > .selectize-dropdown {
	top: 36px;
}
