/* style.css */
#container {
	z-index:0;
}

#container #control-panel {
	position: absolute;
	cursor: pointer;
	z-index:1001;
	top:60px;
	left: 230px;
	width: 220px;
	background-color:rgba(255,255,255,0.5);
}
#container #data-panel {
  position: absolute;
  cursor: pointer;
  z-index:100;
  top:300px;
  left: 230px;
  width: 220px;
  background-color:rgba(255,255,255,0.5);
  height: 220px;
  overflow:hidden;
}

.data-panel-table{
  height: 190px;
  overflow:scroll;
}

.dataPanelRow:hover {
  background-color: rgb(60, 141, 188) ;
}

.country:hover{
  stroke: #fff;
  stroke-width: 1.5px;
}
.text{
  font-size:10px;
  text-transform:capitalize;
}
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

/* tell the SVG path to be a thin yellow line without any area fill */
.flow {
        fill: none;
        stroke-opacity: .20;
        stroke: #FFCC00;
}
.flow-hightlight {
        fill: none;
        stroke-opacity: .85;
        stroke: #CC00FF;
}
.flow_migration_from {
        fill: none;
        stroke-opacity: .20;
        stroke: #3c8dbc;
}
.flow-hightlight_migration_from {
        fill: none;
        stroke-opacity: .85;
        stroke: #367fa9;
}
.flow_migration_to {
        fill: none;
        stroke-opacity: .20;
        stroke: #00a65a;
}
.flow-hightlight_migration_to {
        fill: none;
        stroke-opacity: .85;
        stroke: #008d4c;
}
.flow_asylum_from {
        fill: none;
        stroke-opacity: .20;
        stroke: #00c0ef;
}
.flow-hightlight_asylum_from {
        fill: none;
        stroke-opacity: .85;
        stroke: #00acd6;
}
.flow_asylum_to {
        fill: none;
        stroke-opacity: .20;
        stroke: #f39c12;
}
.flow-hightlight_asylum_to {
        fill: none;
        stroke-opacity: .85;
        stroke: #e08e0b;
}


#selectors {
	border: 1px solid red; 
	float: top; 
	height: 15%;
}

#map_and_indicators {
	height: 65%;
	float: top;
}

#map_and_indicators #container {
	height: 100%; 
	width: 79%; 
	float:left; 
	border: 1px solid red;
        background: #FFF;
  	overflow:hidden;
}

#map_and_indicators #story_board {
	height: 100%; 
	width: 20%; 
	float:right; 
	border: 1px solid red;
}

#graph {
	height: 20%; 
	border: 1px solid red
}
#viz_dialog {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: -225px;
    margin-left: -200px;
    padding: 20px;
}
.progress-bar.animate {
   width: 100%;

.select2 > .select2-choice.ui-select-match {
	/* Because of the inclusion of Bootstrap */
	height: 29px;
}

.selectize-control > .selectize-dropdown {
	top: 36px;
}
/*
.axis {
        shape-rendering: crispEdges;
}

.x.axis line {
        stroke: lightgrey;
}

.x.axis .minor {
        stroke-opacity: .5;
}

.x.axis path {
        display: none;
}

.y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
}

.countries.hover {
	fill: #523179;
}

.countries {
	fill: #B5A8C4;
	stroke: #000;
	stroke-width: 1px;
}

#container {
  margin:10px 10%;
  border:2px solid #000;
  border-radius: 5px;
  height:100%;
  overflow:hidden;
  background: #F0F8FF;
}
*/
