<br>

<div class="row">
  <div class="col-sm-6 col-md-1"></div>
  <div class="col-sm-6 col-md-3"> 
    <div class="thumbnail"><br>
      <img class="thumbnail" src="img/nikhil.png" alt="...">
      <div class="caption">
        <h3>Nikhil Kurup</h3>
        <a href="http://www.ischool.berkeley.edu/people/students/nikhilkurup">iSchool Profile</a><br>
        <a href="http://www.linkedin.com/in/nikhilgk">LinkedIn</a> <br><br>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><br>
      <img class="thumbnail" src="img/erin.png" alt="...">
      <div class="caption">
        <h3>Erin Boehmer</h3>
	<a href="http://www.ischool.berkeley.edu/people/students/erinboehmer">iSchool Profile</a><br>
	<a href="http://www.linkedin.com/in/erinboehmer">LinkedIn</a> <br><br>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><br>
      <img class="thumbnail" src="img/kunal.png" alt="...">
      <div class="caption">
        <h3>Kunal Shah</h3>
        <a href="http://www.ischool.berkeley.edu/people/students/kunalshah">iSchool Profile</a><br>
        <a href="http://www.linkedin.com/pub/kunal-shah/57/b24/537">LinkedIn</a> <br><br>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-1"></div>

</div>
