<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 style="padding-left:12px;">
        Datasources
    </h1>
</section>

<!-- Main content -->
<section class="content">



<div class="row">
                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">Refugee and Asylum Seekers</h3>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <p>
                                        <h4><a href="http://popstats.unhcr.org/PSQ_TMS.aspx">UNHCR Dataset</a></h4>
					Global dataset on refugee and asylum seekers was obtained from the UNHCR Population Statistics website                                  	   </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">Global Migration Patterns</h3>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <p>
					<h4><a href="http://stats.oecd.org/Index.aspx?DatasetCode=MIG">OECD Dataset</a></h4>
					Global data on migration patterns was downloaded from the International Migration Database maintained by the OECD on their website
                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->


                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">Global Development Indicators</h3>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <p>
                                        <h4><a href="http://data.worldbank.org/indicator">World Bank Dataset</a></h4>
                                     Country-level dataset of global development indicators for the last decade (from 2003 to 2013) downloaded from the World Bank data library
				    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    </div>

<div class="row">

                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">Zimbabwe Story Content</h3>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <p>
                                        <h4><a href="http://www.bbc.com/news/world-africa-14113618">BBC Zimbabwe Profile</a></h4>
					Content for the Zimbabwe story is derived from the Zimbabwe profile and, specifically, timeline listed on the BBC website.
                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

</div>

<h2>Data Cleaning</h2>
<p>After obtaining the above data sets, we consolidated the data into two PostgreSQL tables (migrant/asylum seeker flow and indicators) using a combination of shell scripts, python code and sql statements.</p>


</section><!-- /.content -->
