<div id="container">
	<div id="control-panel" class="panel panel-default" draggable>
		<div class="panel-body">
		<h5>Migrants</h5>
		<div class="btn-group">
        		<button type="button"  class="btn btn-primary operation" ng-model="operation" btn-radio="'Migration_from'"  ng-change='newValue(oepration)'>Leaving</button>
        		<button type="button"  class="btn btn-success operation" ng-model="operation" btn-radio="'Migration_to'" ng-change='newValue(oepration)'>Arriving</button>
		</div>

		<h5>Asylum Seekers</h5>
		<div class="btn-group">
        		<button type="button"  class="btn btn-info operation" ng-model="operation" btn-radio="'Asylum_from'" ng-change='newValue(oepration)'>Leaving</button>
        		<button type="button"  class="btn btn-warning operation" ng-model="operation" btn-radio="'Asylum_to'" ng-change='newValue(oepration)'>Arriving</button>
		</div>

		<!-- <button class="btn btn-default btn-xs" ng-click="enable()">Enable ui-select</button> -->
  		<!-- <button class="btn btn-default btn-xs" ng-click="disable()">Disable ui-select</button> -->
	  	<!-- <button class="btn btn-default btn-xs" ng-click="clear()">Clear ng-model</button> -->

		<h5>Indicators</h5>
	  	<ui-select ng-model="indicator.selected" theme="selectize" ng-disabled="disabled">
	 		<ui-select-match placeholder="Select an indicator...">{{$select.selected.column_name}}</ui-select-match>
 			<ui-select-choices repeat="indicator in indicators | filter: $select.search">
      				<span ng-bind-html="indicator.column_name | highlight: $select.search"></span>
    			</ui-select-choices>
 		 </ui-select>
		</div>
	</div>

  <!--------------------------------------------------------->
  <!--------------------- Data Panel ------------------------>
  <div id="data-panel" class="panel panel-default">
    <div class="panel-body">
    <input ng-model="searchText" placeholder="Filter">
    <div class="data-panel-table">
      <table id="countrySearchResults">
        <tr><th>Country</th><th  ng-show="countries[0].count">Applicants</th></tr>
        <tr ng-repeat="country in countries | filter:searchText" class="dataPanelRow" ng-click='selectCountry(country.name)'>
          <td>{{country.name}}</td>
          <td>{{country.count}}</td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal  viz_dialog" id="noDataModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">No data for this selection</h4>
      </div>
      <!-- <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
    </div>
  </div>
</div>

<div class="modal  viz_dialog" id="vizLoading" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img src="img/spinnerColors.gif">
      </div>
    </div>
    </div>
  </div>
</div>
