<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 style="padding-left:12px;">
        Introduction
        <small>Migration and Asylum</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">



<div class="row">
                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">a·sy·lum</h3>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <p>
                                        <h4>əˈsīləm</h4>
<i>noun</i>
the protection granted by a nation to someone who has left their native country as a political refugee.

                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->

                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-header">
                                    <h3 class="box-title">mi·gra·tion</h3>
                                </div>
                                <div class="box-body" style="display: block;">
                                    <p>
<h4>mīˈgrāSHən</h4>
<i>noun</i>
movement from one part of something to another.
"there is virtually no cell migration in plants"

                                    </p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    </div>


<h2>Stories</h2>
<p>Before you try creating your own stories, check out a story we have curated for you!</p>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-8 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        Zimbabwe
                    </h3>
                    <p>
                        How hyperinflation translates to asylum applications.
                    </p>
                </div>
                <div class="icon">
                    <i class="fa fa-usd"></i>
                </div>
                <a href="#/zimbabwe" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->

        <!--<div class="col-lg-4 col-xs-8">-->
            <!-- small box -->
        <!--    <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        Sudan
                    </h3>
                    <p>
                        The long term effects of drought
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-umbrella"></i>
                </div>
                <a href="#/sudan" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>--><!-- ./col -->
    </div>

<h2>Find Your Own Story</h2>
<p>Or, if you'd rather, start exploring the data!</p>
    <div class="row">

        <div class="col-lg-8 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        Explore
                    </h3>
                    <p>
                        Find your own story
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#/explore" class="small-box-footer">
                    Explore <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">                            


        </section><!-- /.Left col -->

    </div><!-- /.row (main row) -->

</section><!-- /.content -->
