<div id="container">
<ul class="timeline">

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            2006 May
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
            <!-- <span class="time"><i class="fa fa-clock-o"></i> 12:05</span> -->

            <h3 class="timeline-header"><a href="#">Inflation starts</a> ...</h3>

            <div class="timeline-body">
Year-on-year inflation exceeds 1,000%. New banknotes, with three noughts deleted from their values, are introduced in August.
            </div>

            
        </div>
    </li>
    <!-- END timeline item -->
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            2007 May
        </span>
    </li>
    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-power-off bg-blue"></i>
        <div class="timeline-item">
            <!-- <span class="time"><i class="fa fa-clock-o"></i> 12:05</span> -->

            <h3 class="timeline-header"><a href="#">Power cuts and social unrest</a> ...</h3>

            <div class="timeline-body">
Warnings of power cuts for up to 20 hours a day while electricity is diverted towards agriculture.
            </div>

            
        </div>
    </li>
    <!-- END timeline item -->
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            10 Feb. 2014
        </span>
    </li>        <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-plus bg-red"></i>
        <div class="timeline-item">
            <!-- <span class="time"><i class="fa fa-clock-o"></i> 2008 December</span> -->

            <h3 class="timeline-header"><a href="#">Health Emergency</a> ...</h3>

            <div class="timeline-body">
Zimbabwe declares national emergency over a cholera epidemic and the collapse of its health care system.
            </div>

            
        </div>
    </li>
    <!-- END timeline item -->
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            2009 January
        </span>
    </li>        <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-usd bg-blue"></i>
        <div class="timeline-item">
            <!-- <span class="time"><i class="fa fa-clock-o"></i> 12:05</span> -->

            <h3 class="timeline-header"><a href="#">Government, finally takes charge</a> ...</h3>

            <div class="timeline-body">
Government allows use of foreign currencies to try stem hyperinflation.
            </div>

            
        </div>
    </li>
    <!-- END timeline item -->
    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-red">
            2009 March
        </span>
    </li>        <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa  fa-lightbulb-o bg-blue"></i>
        <div class="timeline-item">
            <!-- <span class="time"><i class="fa fa-clock-o"></i> 12:05</span> -->

            <h3 class="timeline-header"><a href="#">Light at the end of the tunnel</a> ...</h3>

            <div class="timeline-body">
Retail prices fall for the first time after years of hyperinflation.
            </div>

            
        </div>
    </li>
    <!-- END timeline item -->
</ul>

</div>


